@import "./variables.css";

/* SF Mono */

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: var(--font-regular);
	font-display: auto;
	src: url('fonts/sf-mono/SFMono-Regular.ttf') format('ttf'),
		url('fonts/sf-mono/SFMono-Regular.woff') format('woff'),
		url('fonts/sf-mono/SFMono-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: var(--font-medium);
	font-display: auto;
	src: url('fonts/sf-mono/SFMono-Medium.ttf') format('ttf'),
	url('fonts/sf-mono/SFMono-Medium.woff') format('woff'),
	url('fonts/sf-mono/SFMono-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Mono';
	font-style: normal;
	font-weight: var(--font-semibold);
	font-display: auto;
	src: url('fonts/sf-mono/SFMono-Semibold.ttf') format('ttf'),
	url('fonts/sf-mono/SFMono-Semibold.woff') format('woff'),
	url('fonts/sf-mono/SFMono-Semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: var(--font-light);
	font-display: swap;
	src: url('fonts/open-sans/OpenSans-Light.ttf') format('ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: var(--font-normal);
	font-display: swap;
	src: url('fonts/open-sans/OpenSans-Regular.ttf') format('ttf');
}


@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: var(--font-semibold);
	font-display: auto;
	src: url('fonts/open-sans/OpenSans-Semibold.ttf') format('ttf');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: var(--font-bold);
	src: url('fonts/open-sans/OpenSans-Bold.ttf') format('ttf');
	font-display: auto;
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: var(--font-extrabold);
	font-display: auto;
	src: url('fonts/open-sans/OpenSans-ExtraBold.ttf') format('ttf');
}
