:root {
	--font-sans: Inter, 'Inter UI', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
	--font-mono: 'Dank Mono', Dank, dm, Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono,
		monospace;

	--font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-black: 900;

	--indigo-50: #fff;
	--indigo-100: #cecefe;
	--indigo-200: #9f9ffd;
	--indigo-300: #6e6ef9;
	--indigo-400: #4a4af4;
	--indigo-500: #1111ee;
	--indigo-600: #0c0ccc;
	--indigo-700: #0808ab;
	--indigo-800: #05058a;
	--indigo-900: #030372;

	--indigo-50: #fff;
	--green-100: #f1fdd1;
	--green-200: #dffca5;
	--green-300: #c6f676;
	--green-400: #aded53;
	--green-500: #87e21f;
	--green-600: #6ac216;
	--green-700: #50a20f;
	--green-800: #398309;
	--green-900: #296c05;
}
