:root {
	--font-sans: Inter, "Inter UI", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
		sans-serif;
	--font-mono: "Dank Mono", Dank, dm, Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Oxygen Mono, Liberation Mono, monospace;

	--font-thin: 100;
	--font-extralight: 200;
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semibold: 600;
	--font-bold: 700;
	--font-extrabold: 800;
	--font-black: 900;

	--indigo-50: #fff;
	--indigo-100: #CECEFE;
	--indigo-200: #9F9FFD;
	--indigo-300: #6E6EF9;
	--indigo-400: #4A4AF4;
	--indigo-500: #1111EE;
	--indigo-600: #0C0CCC;
	--indigo-700: #0808AB;
	--indigo-800: #05058A;
	--indigo-900: #030372;

	--indigo-50: #fff;
	--green-100: #F1FDD1;
	--green-200: #DFFCA5;
	--green-300: #C6F676;
	--green-400: #ADED53;
	--green-500: #87E21F;
	--green-600: #6AC216;
	--green-700: #50A20F;
	--green-800: #398309;
	--green-900: #296C05;
}
