# dependencies
**/node_modules
.pnp
.pnp.js
# global monorepo cache
.cache/*

# dependencies
node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarn/cache/*

logs
*.log*
pids
*.pid
*.seed
lib-cov
coverage
.vscode
.DS_Store
.next
scratch.js
.now
.env
.vercel
out
.eslintcache
tsconfig.tsbuildinfo
.env.local

