@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #F0FFF5 */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #F0FFF5 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #CCFCE3 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #8CFAC7 */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #2CE59B */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #00D68F */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #00B887 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #00997A */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #007D6C */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #004A45 */
  /* #endregion  /**======== Primary Color =========== */
  --header-height: 68px;
  --footer-height: 54px;
}

@layer base {
  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  ::-webkit-scrollbar {
    width: 0rem;
    background-color: transparent;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: unset !important;
    -webkit-text-fill-color: unset !important;
  }

  input:-internal-autofill-selected {
    background-color: unset !important;
    color: unset !important;
  }

  &:focus-visible {
    outline: unset !important;
  }

  input:focus {
    outline: unset !important;
    outline-offset: unset !important;
    box-shadow: unset !important;
  }

  /* clears the ‘X’ from Internet Explorer */
  input[type='search']::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type='search']::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  /* clears the ‘X’ from Chrome */
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    display: none;
  }

  * {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100%;
    width: 100%;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }

  .bg-app {
    @apply bg-gray-50 dark:bg-base-1000;
  }

  .bg-surface {
    @apply bg-gray-100 dark:bg-base-800;
  }

  .bg-surface-1 {
    @apply bg-gray-200 dark:bg-base-700;
  }

  .bg-surface-2 {
    @apply bg-gray-300 dark:bg-base-600 dark:bg-opacity-50;
  }

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-var(--header-height)-var(--footer-height))];
  }

  .h-header-footer {
    @apply h-[var(--header-height)];
  }

  .text-hint {
    @apply text-gray-500 dark:text-gray-400;
  }
}
